{% extends "base.html" %}

{% block title %}<title>{{ author }} | Local Library</title>{% endblock %}

{% block content %}
<h1>Author: {{ author }}</h1>

<p>{{ author.date_of_birth }} {% if author.date_of_death %} - {{ author.date_of_death }} {% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    {% for book in author.book_set.all %}
    <hr>
    <p class="font-weight-bold">
        <a href="{% url 'book-detail' book.pk %}">{{ book }}</a> ({{book.bookinstance_set.count}})
    </p>
    <p>{{ book.summary }}</p>
    {% endfor %}
</div>
{% endblock %}