{% extends "base.html" %}

{% block title %}<title>Author Directory | Local Library</title>{% endblock %}

{% block content %}
<h1>Author List</h1>
{% if author_list %}
<ul>
    {% for author in author_list %}
    <li>
        <a href="{{ author.get_absolute_url }}">{{ author }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no books in the library, thus no author.</p>
{% endif %}
{% endblock %}